# ignore everything in the root except the "wp-content" directory.
wordpress/app/public/wp-*.php
wordpress/app/public/xmlrpc.php
index.php
license.txt
!wp-content/

# ignore the "local" app build stuff from WP-Engine
conf
logs

# ignore everything in the "wp-content" directory, except:
# "mu-plugins", "plugins", "themes" directory
wordpress/app/public/wp-content/*
wordpress/app/public/wp-admin/*
wordpress/app/public/wp-includes/*
!wordpress/app/public/wp-content/mu-plugins/
!wordpress/app/public/wp-content/plugins/
!wordpress/app/public/wp-content/themes/

# ignore these plugins
wordpress/app/public/wp-content/plugins/hello.php

# ignore specific themes
wordpress/app/public/wp-content/themes/twenty*/

# ignore wordpress core

# ignore node dependency directories
node_modules/

# ignore log files and databases
*.log
*.sqlite